<nav class="navbar-top">
  <form action="#/search-result">
    <div>
      <input type="text" placeholder="Search Content & Discussion" autofocus/>
      <span class="icon-remove-gray button-remove"></span>
    </div>
  </form>
</nav>
<div class="main search-page">
  <div class="row history-item">
    <div class="col-1-of-6 text-center">
      <span class="icon-history"></span>
    </div>
    <div class="col-4-of-6">
      <a href="#/search-result">Configuration file issues</a>
    </div>
    <div class="col-1-of-6 text-center">
      <span class="icon-arrow-diagonal"></span>
    </div>
  </div>
  <div class="row history-item">
    <div class="col-1-of-6 text-center">
      <span class="icon-history"></span>
    </div>
    <div class="col-4-of-6">
      <a href="#/search-result">CMX installation guide</a>
    </div>
    <div class="col-1-of-6 text-center">
      <span class="icon-arrow-diagonal"></span>
    </div>
  </div>
  <div class="row history-item">
    <div class="col-1-of-6 text-center">
      <span class="icon-history"></span>
    </div>
    <div class="col-4-of-6">
      <a href="#/search-result">Prime infrastructure express</a>
    </div>
    <div class="col-1-of-6 text-center">
      <span class="icon-arrow-diagonal"></span>
    </div>
  </div>
  <div class="row history-item">
    <div class="col-1-of-6 text-center">
      <span class="icon-history"></span>
    </div>
    <div class="col-4-of-6">
      <a href="#/search-result">Nexus 5 network configuration</a>
    </div>
    <div class="col-1-of-6 text-center">
      <span class="icon-arrow-diagonal"></span>
    </div>
  </div>
  <div class="row">
    <a class="col-offset-1-of-6 button" href="#/search-advanced">Advanced Search</a>
  </div>
</div><!-- end of main -->